<!DOCTYPE html>
<html>
  <head>
    <title>Flask Json File Explore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/search" method="get">
          <div>
            <label for="searched_text">Search for contact</label>
            <input name="searched_text" id="searched_text" value="">
          </div>
          <div>
            <button>Search</button>
          </div>
      </form>
    {% for contact in contacts_list %}
      <br>
      <hr>
      <p>Name: {{contact.name}}</p>
      <p>Company: {{contact.company}}</p>
      <p>Email: {{contact.email}}</p>
      <p>Country: {{contact.country}}</p>
      <p>City: {{contact.city}}</p>
      {% if contact.job_history|length > 0 and contact.job_history[0] != ''%}
      <p>Job history:</p>
      <ul>
        {% for past_job in contact.job_history %}
        <li>{{past_job}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>